@import "colors.scss";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary;
}

p {
  font-size: 18px;
  color: $primary;
}

#app > div > div.nav-bar > button.el-button.el-button--default.el-button--small.is-circle > i {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: bold;
}

.devices-table {
  .el-table__body-wrapper {
    tr {
      cursor: pointer !important;
    }
  }
}