@import "colors.scss";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary;
}

p {
  font-size: 18px;
  color: $primary;
}

button {
  font-size: 16px;
  padding: 7px;
  color: $lime;
  border: 2px solid $lime;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-out;
}

button.text {
  border: none;
}

button.icon {
  font-size: 24px;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  color: $primary;
}

button.icon:hover {
  background-color: $secondary;
  border-radius: 30px;
  color: $primary;
}

button:hover {
  color: white;
  background-color: $lime;
}

a {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: bold;
}